<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPLOAD SUCCESSFULL !</title>
</head>
<body
    style="
      background-image: linear-gradient(45deg, lightblue, lightgreen);
      height: 90vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <h1 style="font-size: 27px;">File Uploaded Successfully</h1>
    <br /><a href="/uploadedFile" style="text-decoration: none; font-size: 25px" target="_blank"
      >Click here to view the File</a
    >
</body>
</html>